.header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding-left: 20%;
    display: flex;
}

.header:hover {
    cursor: pointer;
}

.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    min-height: 500px;
}

.image-link {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .hide {
        display: none !important;
        max-height: 0px;
        transition: all 10s;
    }
}