* {
    margin: 0;
    font-family: 'Slabo 27px', serif;
    padding: 0;
    font-size: 12px;
}

h1, h2 {
    font-size:  16vw;
    color: white;
}

@media (min-width: 961px) {
    h1, h2 {
        font-size: 153px;
    }
}


@import 'about-me.scss'; 
@import 'header.scss'; 
@import 'knowledge.scss'; 
@import 'profiles.scss'; 
@import 'projects.scss'; 
@import 'shared.scss'; 