* {
    margin: 0;
    font-family: 'Slabo 27px', serif;
    padding: 0;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

// @media (min-width: 961px) {
//     h1, h2 {
//         font-size: 153px;
//     }
// }


@import './styles/about-me.scss'; 
@import './styles/footer.scss'; 
@import './styles/header.scss'; 
@import './styles/knowledge.scss'; 
@import './styles/profiles.scss'; 
@import './styles/projects.scss'; 
@import './styles/shared.scss'; 