* {
  margin: 0;
  font-family: "Slabo 27px", serif;
  padding: 0;
  font-size: 30px;
}

#about-me-header {
  background-color: #0D2C54;
}

#main-header {
  background-color: #00A6ED;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#main-header:hover {
  cursor: default;
}
#main-header h1 {
  padding-right: 20%;
}

#menu-button {
  background-image: url("./assets/baseline_menu_white_48dp.png");
}

#knowledge-header {
  background-color: #FFB400;
}

#javascript {
  background-image: url("./assets/240px-JavaScript-logo.png");
}

#react {
  background-image: url("./assets/320px-React-icon.svg.png");
}

#node {
  background-image: url("./assets/nodejs-new-pantone-black-use.png");
}

#sass {
  background-image: url("./assets/sass.png");
}

#html5 {
  background-image: url("./assets/HTML5_Logo_512.png");
}

#profiles-header {
  background-color: #7FB800;
}

#github {
  background-image: url("./assets/GitHub-Mark-120px-plus.png");
}

#linkedin {
  background-image: url("./assets/In-2C-128px-TM.png");
}

#projects-header {
  background-color: #F6511D;
}

#dev-code-bar {
  background-image: url("./assets/dev-code-bar.png");
}

#projects-carousel {
  height: 400px;
  width: 500px;
}

.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding-left: 20%;
  display: flex;
  font-size: calc(4vw + 4vh + 2vmin);
  color: white;
}
.header:hover {
  cursor: pointer;
}
.fixed-header .header {
  position: fixed;
  top: 10px;
}
.header h1 {
  font-size: calc(4vw + 4vh + 2vmin);
}

.contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  min-height: 500px;
}

.image-link {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .hide {
    display: none !important;
  }
}
