* {
    margin: 0;
    font-family: 'Slabo 27px', serif;
    padding: 0;
}

@import 'about-me.scss'; 
@import 'header.scss'; 
@import 'knowledge.scss'; 
@import 'profiles.scss'; 
@import 'projects.scss'; 
@import 'shared.scss'; 