* {
  margin: 0;
  font-family: "Slabo 27px", serif;
  padding: 0;
  font-size: 12px;
}

h1, h2 {
  font-size: 16vw;
  color: white;
}

@media (min-width: 961px) {
  h1, h2 {
    font-size: 153px;
  }
}
#about-me-header {
  background-color: #0D2C54;
  margin-top: 20vh;
}

#main-header {
  background-color: #00A6ED;
  position: fixed;
  top: 0;
}

#main-header:hover {
  cursor: default;
}

#knowledge-header {
  background-color: #FFB400;
}

#javascript {
  background-image: url("./assets/240px-JavaScript-logo.png");
}

#react {
  background-image: url("./assets/320px-React-icon.svg.png");
}

#node {
  background-image: url("./assets/nodejs-new-pantone-black-use.png");
}

#sass {
  background-image: url("./assets/sass.png");
}

#html5 {
  background-image: url("./assets/HTML5_Logo_512.png");
}

#profiles-header {
  background-color: #7FB800;
}

#github {
  background-image: url("./assets/GitHub-Mark-120px-plus.png");
}

#linkedin {
  background-image: url("./assets/In-2C-128px-TM.png");
}

#projects-header {
  background-color: #F6511D;
}

#dev-code-bar {
  background-image: url("./assets/dev-code-bar.png");
}

.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding-left: 20%;
  display: flex;
}

.header:hover {
  cursor: pointer;
}

.contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  min-height: 500px;
}

.image-link {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .hide {
    display: none !important;
    max-height: 0px;
    transition: all 10s;
  }
}
