#about-me-header {
    background-color: #0D2C54;
    margin-top: 10vh;
}

#about-me-contents {
    background-image: url('./assets/Capture.png');
    background-size: cover;
    background-repeat: no-repeat;
}