#main-header {
    background-color: #00A6ED;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    &:hover {
        cursor: default;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .material-icons {
        font-size: 48px;
        &:hover {
            cursor: pointer;
        }
    }
}

.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}

.nav-menu {
    // height: 200px;
    // width: 200px;
    position: fixed;
    top: 20vh;
    right: 20%;
}

.menu {
    padding-right: 20%;
}