#knowledge-header {
    background-color: #FFB400;
    // position: sticky;
    // top: 0;
}

// #knowledge-contents {
//     background-image: url('./assets/Capture.png');
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.caption {
    font-size: 16px;
    width:  90px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 15px;
    top: 129px;
}

#javascript {
    background-image: url('./assets/240px-JavaScript-logo.png');
}

#react {
    background-image: url('./assets/320px-React-icon.svg.png');
}

#node {
    background-image: url('./assets/nodejs-new-pantone-black-use.png');
}

#sass {
    background-image: url('./assets/sass.png');
}

#html5 {
    background-image: url('./assets/HTML5_Logo_512.png');
}

#c-sharp {
    background-image: url('./assets/c-sharp-logo2.png');
}

#jquery {
    background-image: url('./assets/jQuery-Logo.jpg');
}

#css-logo {
    background-image: url('./assets/css-logo.png');
}

.knowledge-contents-slide {
    display: flex;
    flex-wrap: wrap;
}

.slideshow-hidden {
    display: none;
}

.knowledge-direction-button {
    cursor: pointer;
}

@media (max-width: 776px) {
    #html5 {
        margin-top: 35px;
    }
}

@media (max-width: 496px) {
    #css-logo {
        margin-top: 35px;
    }
}

@media (max-width: 496px) and (min-width: 356px) {
    #dot-net {
        margin-top: 35px;
    }
}

#knowledge-contents {
    flex-wrap: nowrap;
}