#knowledge-header {
    background-color: #FFB400;
    // position: sticky;
    // top: 0;
}

#knowledge-contents {
    background-color: rgba(255, 180, 0, 0.5);
}

#javascript {
    background-image: url('./assets/240px-JavaScript-logo.png')
}

#react {
    background-image: url('./assets/320px-React-icon.svg.png')
}

#node {
    background-image: url('./assets/nodejs-new-pantone-black-use.png')
}

#sass {
    background-image: url('./assets/sass.png')
}

#html5 {
    background-image: url('./assets/HTML5_Logo_512.png')
}