#projects-header {
    background-color: #F6511D;
    // position: sticky;
    // top: 0;
}

#dev-code-bar {
    background-image: url('./assets/dev-code-bar.png');
}

#projects-carousel {
    height: 400px;
    width: 500px;
}