#projects-header {
    background-color: #F6511D;
    // position: sticky;
    // top: 0;
}

#projects-contents {
    background-image: url('./assets/Capture.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.project-link {
    min-width: 450px;
    min-height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &:hover .tool-tip{
        visibility: visible;
        top: 100px;
        left: 173px;
    }
}

#dev-code-bar {
    background-image: url('./assets/dev-code-bar.png');
}
#find-recipes {
    background-image: url('./assets/find-recipes.png');
}

