.header {
    height: 20vh;
    // width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    &:hover {
        cursor: pointer;
    }
    h1 {
        font-size:  calc(2vw + 2vh + 1vmin);
    }
    font-size:  calc(4vw + 4vh + 2vmin);
    color: white;
}

.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    min-height: 500px;
}

.image-link {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .hide {
        display: none !important;
    }
}