.header {
    height: 20vh;
    // width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding-left: 20%;
    display: flex;
    h1 {
        font-size:  calc(2vw + 2vh + 1vmin);
    }
    font-size:  calc(4vw + 4vh + 2vmin);
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    min-height: 500px;
    color: black;
    padding: 30px;
    margin: 0;
    p {
        width: 80%;
    }
    a {
        color: black;
        text-align: center;
        p {
            font-size: 20px;
        }
        &:hover {
            color: #00A6ED
        }
    }
}

.image-link {
    min-width: 120px;
    min-height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    position: relative;
    // background-color: rgba(255,255, 255, 0.9);
    // border-radius: 20px;
    &:hover .tool-tip{
        visibility: visible;
        left: 15px;
        top: 129px;
    }
}

.tool-tip {
    visibility: hidden;
    font-size: 16px;
    background-color:  rgba(0, 0, 0, 0.1);
    width:  90px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

@media (max-width: 768px) {
    .hide {
        display: none !important;
    }
}